## exports
export(alr)
export(clr)
export(hotelling.stat)
export(hotelling.test)
S3method(hotelling.test, default)
S3method(hotelling.test, formula)
S3method(plot, hotelling.test)
S3method(print, hotelling.test) 
export(hotel.stat)
export(hotel.test)
